<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
               <h2>Project Creation</h2>
            </header>

            <div class="panel-body">
              <div class="form">
                <%= form_for(@project, html: {class: "form-validate form-horizontal" }) do |f| %>
                  <%= render 'partials/error_messages', object: @host %>                

                  <div class="form-group ">
                      <%= f.label :name, "Name", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%= f.text_field :name, :class => "form-control" %>
                    </div>
                  </div> 
                  <div class="form-group ">
                      <%= f.label :location, "Location", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%= f.text_field :location, :class => "form-control" %>
                    </div>
                  </div> 
                  <div class="form-group">
                      <label class="control-label col-lg-2" for="inputSuccess">Inline checkboxes</label>
                      <div class="col-lg-10">
                          <label class="checkbox-inline">
                          	  <%= f.check_box :singleroom %> Singleroom
                          </label>
                          <label class="checkbox-inline">
                              <%= f.check_box :surfspot %> Surfspot
                          </label>
                          <label class="checkbox-inline">
                              <%= f.check_box :singleroom %> Barbecue
                          </label>
                          <label class="checkbox-inline">
                              <%= f.check_box :singleroom %> Villa
                          </label>
                          <label class="checkbox-inline">
                              <%= f.check_box :singleroom %> Swimmingpool
                          </label>
                          <label class="checkbox-inline">
                              <%= f.check_box :singleroom %> Skiresort
                          </label>                                          
                      </div>
                  </div>                                                                                                    
                  <div class="form-group ">
                      <div class="col-lg-10-lg-offset-2 col-lg-10">
                          <%= f.submit "Update", :class => "btn btn-primary wideButton"%>
                          <%#= link_to "Cancel", edit_user_registration_path, :method => :get, :class => "btn btn-default wideButton" %>
                      </div>
                  </div>
                <% end %> 
              </div>
            </div>
        </section>   
    </div>
</div>

<%# console %> 
<!-- page end-->
<div class="text-right">
  <div class="credits">
      <!-- 
          All the links in the footer should remain intact. 
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
      -->
      <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</div>